@doc """
  <%= doc %>
"""
@spec <%= name %>(<%= spec_params %>) :: <%= spec_result %>
def <%= name %>(<%= signature_params %>) do
  msg = %{
    <%= msg_contents %>
  }

  <%= if param_keys != "" do %>
  params = reduce_opts([<%= param_keys %>], opts)


  msg
  |> Map.put("params", params)
  |> Chromex.Browser.send()
  <% else %>

  case Chromex.Browser.send(msg) do
    {:ok, _result} -> :ok
    error -> error
  end
  <% end %>
end